header {
    background-image: url(images/banner.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: auto;
}

ul li a:hover {
    background-color: aquamarine;
    transition: .8s;
}
.main-section {
    background-image: url(images/tech-tablebg.jpg);
    background-size: cover;
}

.welcome-text {
    font-size: 60px;
    font-weight: bold;
}

.footer-mail {
    color: white;
}

.fa-brands {
    color: white;
}
.fa-brands:hover {
    background-color: #6ECA0C;
    padding: 5px;
    color: black;
}

.fa-regular {
    color: white;
}

.fa-regular:hover {
    background-color: #6ECA0C;
    padding: 5px;
    color: black;
}


.hero {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    margin-top: 3rem;
}
.notes {
    color: blue;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 5px;
}
.notes-title {
    color: blue;
    font-weight: bold;
    font-size: 3rem;
}
.notes-subtitle {
    color: green;
}
.notes-subtitle-2 {
    font-weight: bold;
}
.other {
    border-radius: 20px;
}